.menu {
  box-sizing: border-box;
  height: 80px;
  background: #000000;
  padding: 15px 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link {
    display: inline-block;
    text-decoration: none;
    @include font-medium(16px, 140px, #ffffff);
  }

  &__link-active {
    display: inline-block;
    text-decoration: none;
    @include font-medium(16px, 140%, #f9804b);
  }

  &__link-design {
    display: inline-block;
    text-decoration: none;
    @include font-medium(16px, 140px, #ffffff);
    margin-left: 440px;
  }
}
